.registration-form{
  padding: 40px 40px;
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}
.registration-form label{
  color: white;
}
.registration-form h1{
  color: white;
  text-align: center;
  text-transform: uppercase;
}
