<div class="col-md-6">
  <h2 class="text-center">Registration</h2>
  <form>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" [(ngModel)]="user.email" placeholder="Email" name="email" class="form-control" id="email">
    </div>

    <div class="form-group">
      <label for="username">First Name:</label>
      <input [(ngModel)]="user.username" placeholder="First Name" name="username" class="form-control" id="username">
    </div>

    <div class="form-group">
      <label for="surname">Last Name:</label>
      <input [(ngModel)]="user.surname" placeholder="Last name" name="surname" class="form-control" id="surname">
    </div>

    <div class="form-group">
      <label for="pass">Password:</label>
      <input [(ngModel)]="user.pass" alt="" type="password" placeholder="Password" name="pass" class="form-control" id="pass">
      <input onchange="if ($('#pass').get(0).type=='password') $('#pass').get(0).type='text'; else $('#pass').get(0).type='password';" name="fff" type="checkbox" value="false"> Show password
    </div>

    <button class="btn btn-success" (click)="createUser()">Create</button>
  </form>
</div>
