<app-navbar></app-navbar>
<br/>
<br/>

<div class="col-sm-8 offset-sm-2">
  <h2> User Details</h2>

  <table class="table table-striped" style="background-color: white; margin: 10px" >
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Username</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete User</button></td>
    </tr>
    </tbody>
  </table>
</div>
