<script src="user/user.component.ts"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand" href="">Aviatickets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users"> List users <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <button style="margin: 2px" type="button" routerLink="/login" class="btn btn-outline-success col-xs-3">Login</button>
    <button style="margin: 2px" type="button" routerLink="/add" class="btn btn-outline-secondary col-xs-3">Registration</button>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>
