<app-navbar></app-navbar>
<br/>
<!--Angular2formatDAte-->
<div class="col-sm-10 offset-sm-1">
  <div class="registration-form">
    <h1 class="display-4" style="text-align: center">All flights</h1>
    <form action="" class="form-inlin justify-content-center">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>From</th>
      <th>To</th>
      <th>Departure</th>
      <th>Arrive</th>
      <th>Operator</th>
      <th>Transfers</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let flight of flights">
      <td class="hidden">{{flight.id}}</td>
      <td>{{flight.fromPlace}}</td>
      <td>{{flight.toPlace}}</td>
      <td>{{flight.arrivalTime}}</td>
      <td>{{flight.departureTime}}</td>
      <td>{{flight.aviacompany}}</td>
      <td>{{flight.transfers}}</td>
      <td><button class="btn btn-danger" (click)="deleteFlight(flight)"> Delete Flight </button></td>
    </tr>
    </tbody>
  </table>
    </form>
</div>
</div>

