.search-form{
  padding: 40px 40px;
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
  margin: 5%;
}
.search-form label{
  color: white;
}
.search-form h1{
  color: white;
  text-align: center;
  font-family: Courier New, monospace;

}
.search-form button{
  width: 100%;
}

